
body {
    padding: 0;
    margin: 0;
}

.breadscrum-container {
    display: table;
    height: 5vh;
    width: 100%;
}

.breadscrum {
    display: table-cell;
    vertical-align: middle;
    background-color: #f4f4f4;
}

.org-tree {
    width: 100%;
    height: 95vh;
    overflow: auto;
    padding: 0;
    margin: 0;
}